franka_control_suite/build/
.vscode/
#calibration/data/
calibration/data/fg/*.csv 
calibration/data/fg/*.jpg 
!calibration/calibration_board/target_A4.pdf
!calibration/calibration_board/target_US_letter.pdf
*.png
*.pdf
*.pyc   
*.jpg
